@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* app/globals.css */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
  background-color: #f7f9fc;
  color: #333;
}

h1 {
  font-size: 2rem;
  color: #0056b3;
}

p {
  font-size: 1.2rem;
  color: #555;
}

/* Adicione outros estilos conforme necessário */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
